{% extends "base.html" %}

{% block title %}Huiwen OA - 合同列表{% endblock %}

{% block content %}
<div class="container">
    <div>
        <table class="table table-striped">
            <tread><tr><th>申请时间</th><th>公司</th><th>部门</th><th>内容</th><th style="text-align:right;">金额&nbsp&nbsp&nbsp&nbsp</th><th>申请人</th><th>审批状态</th></tr></tread>
            <tbody>
                {% for contract in allcontract %}
                <tr>
                    <td> {{ contract.applytime }} </td>
                    <td> {{ label_dict.all_company_dict[contract.companyid] }} </td>
                    <td> {{ label_dict.all_dpt_dict[contract.applydpt] }} </td>
                    <td><div style="border:none;overflow:hidden; text-overflow:ellipsis; white-space:nowrap"> {{ contract.content }} </div></td>
                    <td min-width=200px nowrap style="text-align:right;"> {{ contract.amount }} </td>
                    <td> {{ label_dict.all_users_dict[contract.applieruid] }} </td>
                    <td> 已提交 </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
