{% extends "base.html" %}

{% block title %}Huiwen OA - 合同审批列表{% endblock %}

{% block content %}
<div class="container">
    <div>
        <table class="table table-striped">
            <tread><tr><th>申请时间</th><th>公司</th><th>部门</th><th>内容</th><th style="text-align:right;">金额&nbsp&nbsp&nbsp&nbsp</th><th>申请人</th><th>审批状态</th></tr></tread>
            <caption>待审批合同申请</caption>
            <tbody>
                {% if dptreview != None %}
                {% for contract in dptreview %}
                {% if contract.deleted==True %}
                {% else %}
                <tr>
                    <td> {{ contract.applytime }} </td>
                    <td> {{ label_dict.all_company_dict[contract.companyid] }} </td>
                    <td> {{ label_dict.all_dpt_dict[contract.applydpt] }} </td>
                    <td><div style="border:none; max-width:20em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap"> {{ contract.content }} </div></td>
                    <td min-width=200px nowrap style="text-align:right;"> {{ contract.amount }} </td>
                    <td> {{ label_dict.all_users_dict[contract.applieruid] }} </td>
                    <td> <a href="{{ url_for('work.contractondpt', contractid=contract.idcontracts, _external=True) }}">待批准订立</a> </td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                {% endif %}

                {% if cvreview != None %}
                {% for contract in cvreview %}
                <tr>
                    <td> {{ contract.applytime }} </td>
                    <td> {{ label_dict.all_company_dict[contract.companyid] }} </td>
                    <td> {{ label_dict.all_dpt_dict[contract.applydpt] }} </td>
                    <td><div style="border:none; max-width:20em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap"> {{ contract.content }} </div></td>
                    <td min-width=200px nowrap style="text-align:right;"> {{ contract.amount }} </td>
                    <td> {{ label_dict.all_users_dict[contract.applieruid] }} </td>
                    <td> <a href="{{ url_for('work.contractoncv', contractid=contract.idcontracts, _external=True) }}">待交叉复核</a> </td>
                </tr>
                {% endfor %}
                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                {% endif %}


                {% if lawreview != None %}
                {% for contract in lawreview %}
                {% if contract.deleted==True %}
                {% else %}
                <tr>
                    <td> {{ contract.applytime }} </td>
                    <td> {{ label_dict.all_company_dict[contract.companyid] }} </td>
                    <td> {{ label_dict.all_dpt_dict[contract.applydpt] }} </td>
                    <td><div style="border:none; max-width:20em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap"> {{ contract.content }} </div></td>
                    <td min-width=200px nowrap style="text-align:right;"> {{ contract.amount }} </td>
                    <td> {{ label_dict.all_users_dict[contract.applieruid] }} </td>
                    <td> <a href="{{ url_for('work.contractonlaw', contractid=contract.idcontracts, _external=True) }}">待法务复核</a> </td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                {% endif %}


                
                {% if accreview != None %}
                {% for contract in accreview %}
                {% if contract.deleted==True %}
                {% else %}
                <tr>
                    <td> {{ contract.applytime }} </td>
                    <td> {{ label_dict.all_company_dict[contract.companyid] }} </td>
                    <td> {{ label_dict.all_dpt_dict[contract.applydpt] }} </td>
                    <td><div style="border:none; max-width:20em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap"> {{ contract.content }} </div></td>
                    <td min-width=200px nowrap style="text-align:right;"> {{ contract.amount }} </td>
                    <td> {{ label_dict.all_users_dict[contract.applieruid] }} </td>
                    <td> <a href="{{ url_for('work.contractonacc', contractid=contract.idcontracts, _external=True) }}">待财务复核</a> </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
